@font-face {
  font-family: 'GmarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: 'Michroma';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/michroma/v16/PN_zRfy9qWD8fEagAPg9pTn5_PDb.woff2') format('woff2');
}


:root{
  --color-mk:#008A58;
  --color-hyojin:#fa2b2b;
  --color-jus:#4a1385;
  --color-etion:#F58500;
  --color-wyatt:#2D1ED9;
  --color-u:#4791FF;
  --color-dark:#2C2C2C;
  --color-point:#4367E5;
  --color-point:#097C3C;
  --color-point-dark:#09572f;
  --color-warn:#FCBA56;
  /* --color-warn:#FC5656; */
  --color-light:#F4F6F9;
  --color-light-90:rgba(255,255,255,0.9);
  --color-light-70:rgba(255,255,255,0.7);
  --color-light-50:rgba(255,255,255,0.5);
  --color-light-30:rgba(255,255,255,0.3);
  --color-light-15:rgba(255,255,255,0.15);
  --font-size-max: 3.6rem;
  --font-size-huge: 2.8rem;
  --font-size-bigger: 2.4rem;
  --font-size-big: 2rem;
  --font-size-default: 1.6rem;
  --font-size-small: 1.4rem;
  --font-size-smaller: 1.2rem;
  --page-padding-default : 10rem 0 15rem;
  --page-padding-top : 12rem;
  --default-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

*{
  margin:0;
  padding:0;
  font-size: var(--txt-b-default);
  font-family: GmarketSans, sans-serif;
}

button{
  border: none;
  cursor: pointer;
  background: none;
  color:var(--color-light);
}

img{
  width:100%;
}

html{
  color:var(--color-light);
  font-size: 10px;
}

body{
  font-size: var(--font-size-default);
  font-family: GmarketSans, sans-serif;
  word-break: keep-all;
  background: url("/assets/image/bg_default_m.png") no-repeat center center fixed, #222222;
  background-size: cover;
}

body::after{
  content:"";
  display: block;
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background: url("/bg_stars.svg");
  background-size: cover;
  opacity: 0.2;
  filter: blur(2px);
  z-index: -1;
}

li{
  list-style: none;
}

a{
  color:var(--color-light);
  text-decoration: none;
}

main{
  min-height:100vh;
  position: relative;
  overflow: hidden;
}

.center-content{
  width:90%;
  max-width:1024px;
  margin:0 auto;
}

.hide{
  position: absolute;
  left:-9999px;
  width:0;
  height:0;
  overflow: hidden;
}

.default-btn{
  display: inline-flex;
  align-items:center;
  justify-content:center;
  width:100%;
  max-width:50rem;
  padding: 0 1rem;
  box-sizing: border-box;
  font-size:var(--font-size-default);
  height:5rem;
  font-weight:600;
  color: var(--color-light);
  background-color: var(--color-point);
  border:none;
  border-radius: .6rem;
  cursor:pointer;
  transition: all 0.2s ease-in-out;
}

.sub-btn{
  background-color: #8F8F8F;
  color: #CFCFCF;
}

.txt-btn{
  text-decoration: underline;
}

.txt-btn:hover, .txt-btn:focus{
  transition: filter 0.2s ease-in-out;
  filter: invert(17%) sepia(100%) saturate(6662%) hue-rotate(158deg) brightness(97%) contrast(93%);
}

.default-btn:hover, .default-btn:focus{
  filter:brightness(1.2);
}

.swiper-pagination-bullet{
  background-color: var(--color-light) !important;
}

.swiper-pagination-bullet-active{
  background-color: var(--color-point) !important;
}

.default-badge{
  padding:0.2rem 1rem;
  font-size: var(--font-size-small);
  color: var(--color-dark);
  background-color: var(--color-light-70);
  border-radius: 2rem;
}

.load-more{
  text-align: center;
  font-family: 'PyeongChangPeace', sans-serif;
}

.processing{
  pointer-events: none;
}

@media all and (max-width:1023px) {
 html{
  font-size:7.7px;
 } 
}